* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Agipo';
  src: url('Agipo-Regular.woff2') format('woff2'),
       url('Agipo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-family: 'Agipo';
  font-size: 1.64rem;
  font-variant-numeric: oldstyle-nums;
  color: MediumVioletRed;
  hyphens: auto;
}

body {
  position: relative;
}

p {
  margin: 0;
  font-variant-numeric: oldstyle-nums;
}

#green{
  color:#85ad43;
}
#purple{
  color: indigo;
}
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

.container {
  position: relative;
  z-index: 2;
  padding: .25rem .5rem .4rem .5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main {
  position: relative;
  z-index: 2;
}

.rand {
  position: fixed;
  z-index: 3;
  display: block;
}

.rand img {
  display: block;
  height: auto;
  width: auto;
}


:root {
  --base-size: 18vh;
}


.is-1 { top: 10vh; left: 5vw; }
.is-2 { bottom: 0; right: 10vw; }
.is-3 { top: 40vh; left: 30vw; }
.is-4 { top: 10vh; left: 20vw; }
.is-5 { top: 10vh; left: 50vw; }
.is-6 { top: 80vh; left: 10vw; }
.is-7 { top: 60vh; left: 12vw; }
.is-8 { top: 10vh; left: 62vw; }
.is-9 { top: 90vh; left: 62vw; }
.is-10 { top: 50vh; left: 92vw; }
.is-11 { top: 50vh; left: 39vw; }
.is-12 { top: 3vh; left: 39vw; }

.is-13 { top: 5vh; left: 19vw; }
.is-14 { top: 30vh; left: 2vw; }
.is-15 { bottom: 30vh; right: 10vw; }
.is-16 { top: 10vh; left: 70vw; }
.is-17 { top: 18vh; left: 24vw; }
.is-18 { top: 20vh; left: 50vw; }
.is-19 { top: 80vh; left: 10vw; }
.is-20 { top: 2vh; left: 82vw; }
.is-21 { top: 70vh; left: 62vw; }
.is-22 { top: 60vh; left: 62vw; }
.is-23 { top: 10vh; left: 92vw; }
.is-24 { top: 50vh; left: 29vw; }


.is-1 img { height: calc(var(--base-size) * 3); }
.is-2 img { height: calc(var(--base-size) * 3); }
.is-3 img { height: calc(var(--base-size) * 1); }
.is-4 img { height: calc(var(--base-size) * 0.3);}
.is-5 img { height: calc(var(--base-size) * 0.5);}
.is-6 img { height: calc(var(--base-size) * 0.5);}
.is-7 img { height: calc(var(--base-size) * 2);}
.is-8 img { height: calc(var(--base-size) * 1.4);}
.is-9 img { height: calc(var(--base-size) * 0.3);}
.is-10 img { height: calc(var(--base-size) * 0.5);}
.is-11 img { height: calc(var(--base-size) * 1);}
.is-12 img { height: calc(var(--base-size) * 0.8);}

.is-13 img { height: calc(var(--base-size) * 1);}
.is-14 img { height: calc(var(--base-size) * 1); }
.is-15 img { height: calc(var(--base-size) * 1.6); }
.is-16 img { height: calc(var(--base-size) * 1); }
.is-17 img { height: calc(var(--base-size) * 0.7);}
.is-18 img { height: calc(var(--base-size) * 1);}
.is-19 img { height: calc(var(--base-size) * 1);}
.is-20 img { height: calc(var(--base-size) * 1);}
.is-21 img { height: calc(var(--base-size) * 1.4);}
.is-22 img { height: calc(var(--base-size) * 1);}
.is-23 img { height: calc(var(--base-size) * 1);}
.is-24 img { height: calc(var(--base-size) * 1);}

@media screen and (max-width: 768px) {
  html {
    font-size: 1.4rem;
  }

  :root {
    --base-size: 14vh;
  }

  .main {
    max-width: 90vw;
  }

  .is-1 { top: 12vh; left: 4vw; }
  .is-2 { bottom: 5vh; right: 5vw; }
  .is-3 { top: 45vh; left: 25vw; }
  .is-4 { top: 8vh; left: 15vw; }
  .is-5 { top: 15vh; left: 50vw; }

  .is-6 { bottom: 8vh; left: 8vw; }  
  .is-7 { top: 60vh; left: 10vw; }
  .is-8 { top: 10vh; left: 60vw; }
  .is-9 { bottom: 1vh; left: 55vw; } 

  .is-10 { top: 50vh; right: 0vw; }   
  .is-11 { top: 50vh; left: 35vw; }
  .is-12 { top: 5vh; left: 35vw; }

  .is-13 { top: 6vh; left: 14vw; }
  .is-14 { top: 32vh; left: 2vw; }
  .is-15 { bottom: 24vh; right: 6vw; }
  .is-16 { top: 10vh; left: 64vw; }
  .is-17 { top: 18vh; left: 22vw; }
  .is-18 { top: 22vh; left: 46vw; }
  .is-19 { top: auto; left: 8vw; bottom: 6vh; }
  .is-20 { top: 3vh; left: 74vw; }
  .is-21 { top: 66vh; left: 56vw; }

  .is-22 { top: 56vh; left: 56vw; }
  .is-23 { top: auto; left: auto; right: 1vw; bottom: 18vh; }
  .is-24 { top: 48vh; left: 24vw; }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 1.2rem;
  }

  :root {
    --base-size: 11vh;
  }

  .main {
    max-width: 95vw;
  }

  .is-1 { top: 10vh; left: 2vw; }
  .is-4 { top: 5vh; left: 10vw; }
  .is-12 { top: 3vh; left: 30vw; }

  .is-5 { top: 30vh; left: 50vw; }
  .is-8 { top: 13vh; left: 50vw; }

  .is-3 { top: 45vh; left: 20vw; }
  .is-11 { top: 50vh; left: 70vw; }
  .is-7 { top: 60vh; left: 8vw; }

  .is-6 { bottom: 10vh; left: 5vw; }
  .is-2 { bottom: 5vh; right: 0vw; }
  .is-9 { top: auto; bottom: 2vh; left: 30vw; }
  .is-10 { top:auto; left: auto; bottom: 10vh; right: 20vw; }

  .is-13 { top: 5vh; left: 10vw; }
  .is-14 { top: 30vh; left: 10vw; }
  .is-15 { top: auto; left: auto; right: 4vw; bottom: 24vh; }
  .is-16 { top: 10vh; left: 58vw; }
  .is-17 { top: 17vh; left: 18vw; }
  .is-18 { top: 22vh; left: 42vw; }
  .is-19 { top: auto; left: 6vw; bottom: 8vh; }
  .is-20 { top: 2vh; left: 68vw; }
  .is-21 { top: 87vh; left: 14vw; }

  .is-22 { top: 56vh; left: 48vw; }
  .is-23 { top: auto; left: auto; right: 0vw; bottom: 16vh; }
  .is-24 { top: 46vh; left: 18vw; }
}