* {
  margin: 0;
  box-sizing: border-box;
}

.page-link {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: block;
}


@font-face {
  font-family: 'Agipo';
  src: url('Agipo-Regular.woff2') format('woff2'),
       url('Agipo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-family: 'Agipo';
  font-size: 1.64rem;
  font-variant-numeric: oldstyle-nums;
  color: MediumVioletRed;
  hyphens: auto;
}

body {
  position: relative;
}

p {
  margin: 0;
  font-variant-numeric: oldstyle-nums;
}

#green{
  color:#85ad43;
}
#purple{
  color: #4B0082;
}
#th{
  color:#FA8072;
}

#nv{
  color:#1E90FF;
}

#dt{
  color:red;
}

#gl{
  color:#2E8B57;
}

#pl{
  color: #0000CD;
}

.name{
  margin-left:50%;
  width: 25vw;
  color:slateblue;
  font-size: 0.6rem;
  line-height: 0.9rem;
  height: 100vh;       
  overflow-y: auto;  
  padding-bottom: 3vh;

  p{
    padding-left: 2vw;
  }
}
::-webkit-scrollbar{
  visibility: hidden;
}
.nm{
  width: fit-content;
  color:black;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

.container {
  position: relative;
  z-index: 2;
  padding: .25rem .5rem .4rem .5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main {
  position: relative;
  z-index: 2;
}

.rand {
  position: fixed;
  z-index: 3;
  display: block;
}

.rand img {
  display: block;
  height: auto;
  width: auto;
}


:root {
  --base-size: 18vh;
}


.is-1 { top: 10vh; left: 5vw; }
.is-2 { bottom: 0; right: 10vw; }
.is-3 { top: 40vh; left: 30vw; }
.is-4 { top: 10vh; left: 20vw; }
.is-5 { top: 10vh; left: 50vw; }
.is-6 { top: 80vh; left: 10vw; }
.is-7 { top: 60vh; left: 12vw; }
.is-8 { top: 10vh; left: 62vw; }
.is-9 { top: 90vh; left: 62vw; }
.is-10 { top: 50vh; left: 92vw; }
.is-11 { top: 50vh; left: 39vw; }
.is-12 { top: 3vh; left: 39vw; }

.is-9-1 { top: 10vh; left: -1vw; }
.is-10-1 { top: 39vh; left: 52vw; }
.is-11-1 { top: 30vh; left: 39vw; }
.is-12-1 { top: 80vh; left: 59vw; }

.is-13 { top: 5vh; left: 19vw; }
.is-14 { top: 30vh; left: 2vw; }
.is-15 { bottom: 30vh; right: 10vw; }
.is-16 { top: 10vh; left: 70vw; }
.is-17 { top: 18vh; left: 24vw; }
.is-18 { top: 20vh; left: 50vw; }
.is-19 { top: 80vh; left: 10vw; }
.is-20 { top: 2vh; left: 82vw; }
.is-21 { top: 69vh; left: 62vw; }
.is-22 { top: 60vh; left: 62vw; }
.is-23 { top: 10vh; left: 92vw; }
.is-24 { top: 50vh; left: 29vw; }

.is-25 { top: 6vh; left: 10vw; }
.is-26 { top: 40vh; left: 2vw; }
.is-27 { bottom: 50vh; right: 60vw; }
.is-28 { top: 10vh; left: 50vw; }
.is-29 { top: 79vh; left: 44vw; }
.is-30 { top: 20vh; left: 35vw; }
.is-31 { top: 2vh; left: 30vw; }
.is-32 { top: 27vh; left: 66vw; }
.is-33 { top: 50vh; left: 62vw; }
.is-34 { top: 70vh; left: 77vw; }
.is-35 { top: 10vh; left: 65vw; }
.is-36 { top: 50vh; left: 29vw; }

.is-37 { top: 9vh; left: 1vw; }
.is-38 { top: 82vh; left: -1vw; }
.is-39 { top: 1vh; left: 70vw; }
.is-40 { top: 2vh; left: 16vw; }
.is-41 { top: 28vh; left: 57vw; }
.is-42 { top: 22vh; left: 20vw; }
.is-43 { top: 27vh; left: 35vw; }
.is-44 { top: 42vh; left: 51vw; }
.is-45 { top: 50vh; left: 75vw; }


.is-46 { top: 30vh; left: 70vw; }
.is-47 { top: 2vh; left: 3vw; }
.is-48 { top: 77vh; left: 10vw; }
.is-49 { top: 69vh; left: 16vw; }
.is-50 { top: 18vh; left: 93vw; }
.is-51 { top: 18vh; left: 10vw; }
.is-52 { top: 67vh; left: 44vw; }
.is-53 { top: 22vh; left: 31vw; }
.is-54 { top: 50vh; left: 15vw; }
.is-55 { top: 68vh; left: 61vw; }
.is-56 { top: 6vh; left: 55vw; }


.is-57 { top: 1vh; left: 2vw; }
.is-58 { top: 7vh; left: 26vw; }
.is-59 { top: 17vh; left: 24vw; }
.is-60 { top: 10vh; left: 52vw; }
.is-61 { top: 58vh; left: 0vw; }
.is-62 { top: 78vh; left: 10vw; }
.is-63 { top: 28vh; left: 8vw; }
.is-64 { top: 65vh; left: 31vw; }
.is-65 { top: 40vh; left: 14vw; }
.is-66 { top: 60vh; left: 1vw; }
.is-67 { top: 70vh; left: 25vw; }
.is-68 { top: 88vh; left: 70vw; }
.is-69 { top: 63vh; left: 44vw; }
.is-70 { top: 6vh; left: 79vw; }
.is-71 { top: 0vh; left: 60vw; }

.is-72 { top: 1vh; left: 15vw; }
.is-73 { top: 1vh; left: 60vw; }
.is-74 { top: 65vh; left: 72vw; }
.is-75 { top: -1.9vh; left: 32vw; }
.is-76 { top: 35vh; right: 14vw; }
.is-77 { top: 25vh; left: 9vw; }
.is-78 { bottom: 15vh; left: 57vw; }

.is-79 { top: 15vh; left: 2vw; }
.is-80 { top: -1vh; left: 26vw; }
.is-81 { bottom: 1vh; left: 34vw; }
.is-82 { bottom: 12vh; left: 62vw; }
.is-83 { top: 5vh; left: 50vw; }
.is-84 { top: 50vh; left: 20vw; }
.is-85 { top: 28vh; right: 5vw; }
.is-86 { top: 5vh; left: 13vw; }
.is-87 { bottom: 4vh; right: 14vw; }
.is-88 { top: 0vh; left: 1vw; }
.is-89 { bottom: 40vh; left: 55vw; }
.is-90 { bottom: 3vh; left: 66vw; }
.is-91 { top: 63vh; left: 44vw; }
.is-92 { top: 6vh; right:0vw; }
.is-93 { top: 2vh; left: 67vw; }



.is-94 { top: 5vh; left: 2vw; }
.is-95 { top: 35vh; left: 16vw; }
.is-96 { bottom: 10vh; left: 1vw; }
.is-97 { bottom: 20vh; left: 39vw; }
.is-98 { top: 10vh; left: 40vw; }
.is-99 { top: 13vh; left: 25vw; }
.is-100 { top: 28vh; right: 5vw; }
.is-101 { bottom: 5vh; left: 23vw; }
.is-102 { bottom: 11vh; right: 4vw; }
.is-103 { top: 36vh; left: 50vw; }
.is-104 { bottom: 38vh; right: 25vw; }
.is-105 { top: 3.5vh; right: 26vw; }
.is-106 { top: 53vh; left: 44vw; }
.is-107 { bottom: 23vh; right:2vw; }
.is-108 { top: -3vh; right: 9vw; }
.is-109 { bottom: 0vh; right:0vw; }


.is-110 { top: 20vh; right: 2vw; }
.is-111 { top: 22vh; left: 6vw; }
.is-112 { top: 5.5vh; right: 10vw; }
.is-113 { bottom: 10vh; right: 9vw; }
.is-114 { top: 2vh; left: 35vw; }
.is-115 { top: 40vh; left: 16vw; }
.is-116 { bottom: 1vh; right: 3vw; }
.is-117 { top: -1vh; left: 3vw; }
.is-118 { bottom: 1vh; left: 4vw; }
.is-119 { bottom: 22vh; left: 40vw; }
.is-120 { bottom: 38vh; right: 25vw; }
.is-121 { top: 34vh; right: 6vw; }
.is-122 { bottom: 22vh; left: 45vw; }
.is-123 { bottom: 13vh; right:30vw; }

.is-124 { bottom: 0vh; right: 12vw; }
.is-125 { top: 1vh; left: 4vw; }
.is-126 { top: 1vh; right: 3vw; }
.is-127 { bottom: 20vh; left: 2vw; }
.is-128 { bottom: 20vh; left: 33vw; }
.is-129 { bottom: 30vh; right: 13vw; }
.is-130 { top: 29vh; right: 7vw; }
.is-131 { bottom: 42vh; left: 43vw; }
.is-132 { bottom: 3vh; left:10vw; }


.is-133 { top: 1vh; left: 35vw; }
.is-134 { top: 1vh; right: 9vw; }
.is-135 { top: 10vh; left: 15vw; }
.is-136 { bottom: 40vh; right: 4vw; }
.is-137 { bottom: 13vh; left: 3vw; }
.is-138 { bottom: 50vh; right: 33vw; }
.is-139 { bottom: 0vh; left: 7vw; }
.is-140 { bottom: -1vh; left: 43vw; }
.is-141 { bottom: 3vh; right:10vw; }

.is-142 { top: 1vh; left: 35vw; }
.is-143 { bottom: 2vh; left: 3vw; }
.is-144 { bottom: 13vh; left:27vw; }
.is-145 { bottom: 17vh; left: 50vw; }
.is-146 { top: 18vh; right: 9vw; }
.is-147 { top: 1vh; right: 1vw; }
.is-148 { bottom: 40vh; right: 4vw; }
.is-149 { bottom: 15vh; left: 3vw; }
.is-150 { top: 35vh; right: 33vw; }
.is-151 { top: 20vh; left: 7vw; }
.is-152 { bottom: 0vh; left: 45vw; }
.is-153 { bottom: 0vh; right:0vw; }
.is-154 { bottom: 20vh; right:20vw; }

.is-155 { top: 28vh; left: 9vw; }
.is-156 { top: 13vh; left: 28vw; }
.is-157 { top: 30vh; right: 4vw; }
.is-158 { bottom: 45vh; left: 35vw; }
.is-159 { bottom: 15vh; left: 1vw; }
.is-160 { bottom: 0vh; left: 7vw; }
.is-161 { bottom: 8vh; right: 24vw; }
.is-162 { bottom: 0vh; right:0vw; }
.is-163 { bottom: 20vh; right:20vw; }


.is-1 img { height: calc(var(--base-size) * 3); }
.is-2 img { height: calc(var(--base-size) * 3); }
.is-3 img { height: calc(var(--base-size) * 1); }
.is-4 img { height: calc(var(--base-size) * 0.3);}
.is-5 img { height: calc(var(--base-size) * 0.5);}
.is-6 img { height: calc(var(--base-size) * 0.5);}
.is-7 img { height: calc(var(--base-size) * 2);}
.is-8 img { height: calc(var(--base-size) * 1.4);}
.is-9 img { height: calc(var(--base-size) * 0.3);}
.is-10 img { height: calc(var(--base-size) * 0.5);}
.is-11 img { height: calc(var(--base-size) * 1);}
.is-12 img { height: calc(var(--base-size) * 0.8);}

.is-9-1 img { height: calc(var(--base-size) * 1.5);}
.is-10-1 img { height: calc(var(--base-size) * 1.2);}
.is-11-1 img { height: calc(var(--base-size) * 1.7);}
.is-12-1 img { height: calc(var(--base-size) * 0.8);}

.is-13 img { height: calc(var(--base-size) * 1);}
.is-14 img { height: calc(var(--base-size) * 1); }
.is-15 img { height: calc(var(--base-size) * 1.6); }
.is-16 img { height: calc(var(--base-size) * 1); }
.is-17 img { height: calc(var(--base-size) * 0.7);}
.is-18 img { height: calc(var(--base-size) * 1);}
.is-19 img { height: calc(var(--base-size) * 1);}
.is-20 img { height: calc(var(--base-size) * 1);}
.is-21 img { height: calc(var(--base-size) * 1.4);}
.is-22 img { height: calc(var(--base-size) * 1);}
.is-23 img { height: calc(var(--base-size) * 1);}
.is-24 img { height: calc(var(--base-size) * 1);}

.is-25 img { height: calc(var(--base-size) * 1);}
.is-26 img { height: calc(var(--base-size) * 0.4); }
.is-27 img { height: calc(var(--base-size) * 1.7); }
.is-28 img { height: calc(var(--base-size) * 0.4); }
.is-29 img { height: calc(var(--base-size) * 0.7);}
.is-30 img { height: calc(var(--base-size) * 1);}
.is-31 img { height: calc(var(--base-size) * 0.3);}
.is-32 img { height: calc(var(--base-size) * 1);}
.is-33 img { height: calc(var(--base-size) * 1.4);}
.is-34 img { height: calc(var(--base-size) * 1);}
.is-35 img { height: calc(var(--base-size) * 0.6);}
.is-36 img { height: calc(var(--base-size) * 1);}

.is-37 img { height: calc(var(--base-size) * 1.4);}
.is-38 img { height: calc(var(--base-size) * 1.1);}
.is-39 img { height: calc(var(--base-size) * 1.2);}
.is-40 img { height: calc(var(--base-size) * 0.7);}
.is-41 img { height: calc(var(--base-size) * 1.2);}
.is-42 img { height: calc(var(--base-size) * 1.6);}
.is-43 img { height: calc(var(--base-size) * 1.6);}
.is-44 img { height: calc(var(--base-size) * 1.6);}
.is-45 img { height: calc(var(--base-size) * 2.8);}

.is-46 img { height: calc(var(--base-size) * 1.8);}
.is-47 img { height: calc(var(--base-size) * 0.7);}
.is-48 img { height: calc(var(--base-size) * 0.7);}
.is-49 img { height: calc(var(--base-size) * 0.7);}
.is-50 img { height: calc(var(--base-size) * 1.2);}
.is-51 img { height: calc(var(--base-size) * 2);}
.is-52 img { height: calc(var(--base-size) * 1);}
.is-53 img { height: calc(var(--base-size) * 1.2);}
.is-54 img { height: calc(var(--base-size) * 0.9);}
.is-55 img { height: calc(var(--base-size) * 1.6);}
.is-56 img { height: calc(var(--base-size) * 2.3);}

.is-57 img { height: calc(var(--base-size) * 2.1);}
.is-58 img { height: calc(var(--base-size) * 2.2);}
.is-59 img { height: calc(var(--base-size) * 2);}
.is-60 img { height: calc(var(--base-size) * 5);}
.is-61 img { height: calc(var(--base-size) * 0.7);}
.is-62 img { height: calc(var(--base-size) * 1.2);}
.is-63 img { height: calc(var(--base-size) * 1);}
.is-64 img { height: calc(var(--base-size) * 1.8);}
.is-65 img { height: calc(var(--base-size) * 1);}
.is-66 img { height: calc(var(--base-size) * 1.3);}
.is-67 img { height: calc(var(--base-size) * 0.6);}
.is-68 img { height: calc(var(--base-size) * 0.6);}
.is-69 img { height: calc(var(--base-size) * 1.2);}
.is-70 img { height: calc(var(--base-size) * 2.4);}
.is-71 img { height: calc(var(--base-size) * 1.8);}

.is-72 img { height: calc(var(--base-size) * 2);}
.is-73 img { height: calc(var(--base-size) * 1.5);}
.is-74 img { height: calc(var(--base-size) * 2.3);}
.is-75 img { height: calc(var(--base-size) * 2.5);}
.is-76 img { height: calc(var(--base-size) * 1.3);}
.is-77 img { height: calc(var(--base-size) * 2.4);}
.is-78 img { height: calc(var(--base-size) * 1.1);}


.is-79 img { height: calc(var(--base-size) * 1.5);}
.is-80 img { height: calc(var(--base-size) * 1.0);}
.is-81 img { height: calc(var(--base-size) * 0.8);}
.is-82 img { height: calc(var(--base-size) * 1.2);}
.is-83 img { height: calc(var(--base-size) * 1.5);}
.is-84 img { height: calc(var(--base-size) * 1.5);}
.is-85 img { height: calc(var(--base-size) * 1);}
.is-86 img { height: calc(var(--base-size) * 0.6);}
.is-87 img { height: calc(var(--base-size) * 0.8);}
.is-88 img { height: calc(var(--base-size) * 0.7);}
.is-89 img { height: calc(var(--base-size) * 0.9);}
.is-90 img { height: calc(var(--base-size) * 1.2);}
.is-91 img { height: calc(var(--base-size) * 1);}
.is-92 img { height: calc(var(--base-size) * 1);}
.is-93 img { height: calc(var(--base-size) * 0.7);}



.is-94 img { height: calc(var(--base-size) * 1.5);}
.is-95 img { height: calc(var(--base-size) * 1.0);}
.is-96 img { height: calc(var(--base-size) * 1.9);}
.is-97 img { height: calc(var(--base-size) * 1.3);}
.is-98 img { height: calc(var(--base-size) * 0.8);}
.is-99 img { height: calc(var(--base-size) * 1.5);}
.is-100 img { height: calc(var(--base-size) * 1);}
.is-101 img { height: calc(var(--base-size) * 1);}
.is-102 img { height: calc(var(--base-size) * 1.2);}
.is-103 img { height: calc(var(--base-size) * 1);}
.is-104 img { height: calc(var(--base-size) * 0.9);}
.is-105 img { height: calc(var(--base-size) * 2.3);}
.is-106 img { height: calc(var(--base-size) * 2);}
.is-107 img { height: calc(var(--base-size) * 1);}
.is-108 img { height: calc(var(--base-size) * 1.9);}
.is-109 img { height: calc(var(--base-size) * 0.9);}

.is-110 img { height: calc(var(--base-size) * 0.7);}
.is-111 img { height: calc(var(--base-size) * 1.6);}
.is-112 img { height: calc(var(--base-size) * 1.8);}
.is-113 img { height: calc(var(--base-size) * 1.9);}
.is-114 img { height: calc(var(--base-size) * 1.1);}
.is-115 img { height: calc(var(--base-size) * 1.4);}
.is-116 img { height: calc(var(--base-size) * 1.5);}
.is-117 img { height: calc(var(--base-size) * 1.6);}
.is-118 img { height: calc(var(--base-size) * 1.4);}
.is-119 img { height: calc(var(--base-size) * 1.4);}
.is-120 img { height: calc(var(--base-size) * 1.8);}
.is-121 img { height: calc(var(--base-size) * 1.4);}
.is-122 img { height: calc(var(--base-size) * 1);}
.is-123 img { height: calc(var(--base-size) * 1.1);}

.is-124 img { height: calc(var(--base-size) * 0.8);}
.is-125 img { height: calc(var(--base-size) * 1.1);}
.is-126 img { height: calc(var(--base-size) * 1.9);}
.is-127 img { height: calc(var(--base-size) * 1.9);}
.is-128 img { height: calc(var(--base-size) * 1.1);}
.is-129 img { height: calc(var(--base-size) * 1.1);}
.is-130 img { height: calc(var(--base-size) * 0.7);}
.is-131 img { height: calc(var(--base-size) * 1.1);}
.is-132 img { height: calc(var(--base-size) * 1.5);}

.is-133 img { height: calc(var(--base-size) * 1);}
.is-134 img { height: calc(var(--base-size) * 1.5);}
.is-135 img { height: calc(var(--base-size) * 1.3);}
.is-136 img { height: calc(var(--base-size) * 1.2);}
.is-137 img { height: calc(var(--base-size) * 3);}
.is-138 img { height: calc(var(--base-size) * 1.1);}
.is-139 img { height: calc(var(--base-size) * 1.3);}
.is-140 img { height: calc(var(--base-size) * 0.7);}
.is-141 img { height: calc(var(--base-size) * 2.9);}


.is-142 img { height: calc(var(--base-size) * 2);}
.is-143 img { height: calc(var(--base-size) * 2);}
.is-144 img { height: calc(var(--base-size) * 2);}
.is-145 img { height: calc(var(--base-size) * 0.7);}
.is-146 img { height: calc(var(--base-size) * 0.9);}
.is-147 img { height: calc(var(--base-size) * 1.8);}
.is-148 img { height: calc(var(--base-size) * 1.6);}
.is-149 img { height: calc(var(--base-size) * 1.3);}
.is-150 img { height: calc(var(--base-size) * 1.3);}
.is-151 img { height: calc(var(--base-size) * 1);}
.is-152 img { height: calc(var(--base-size) * 1);}
.is-153 img { height: calc(var(--base-size) * 1.2);}
.is-154 img { height: calc(var(--base-size) * 1.2);}

.is-155 img { height: calc(var(--base-size) * 1.3);}
.is-156 img { height: calc(var(--base-size) * 1.1);}
.is-157 img { height: calc(var(--base-size) * 1.6);}
.is-158 img { height: calc(var(--base-size) * 1.3);}
.is-159 img { height: calc(var(--base-size) * 1.3);}
.is-160 img { height: calc(var(--base-size) * 1);}
.is-161 img { height: calc(var(--base-size) * 1.4);}
.is-162 img { height: calc(var(--base-size) * 1);}
.is-163 img { height: calc(var(--base-size) * 1.2);}

@media screen and (max-width: 768px) {
  html {
    font-size: 1.4rem;
  }

  :root {
    --base-size: 14vh;
  }

  .main {
    max-width: 90vw;
  }

  .is-1 { top: 12vh; left: 4vw; }
  .is-2 { bottom: 5vh; right: 5vw; }
  .is-3 { top: 45vh; left: 25vw; }
  .is-4 { top: 8vh; left: 15vw; }
  .is-5 { top: 15vh; left: 50vw; }

  .is-6 { bottom: 8vh; left: 8vw; }  
  .is-7 { top: 60vh; left: 10vw; }
  .is-8 { top: 10vh; left: 60vw; }
  .is-9 { bottom: 1vh; left: 55vw; } 

  .is-10 { top: 50vh; right: 0vw; }   
  .is-11 { top: 50vh; left: 35vw; }
  .is-12 { top: 5vh; left: 35vw; }

  .is-9-1 { top:auto; bottom: 1vh; left: 55vw; } 
  .is-10-1 { top: 30vh; left:auto; right: 0vw; }   
  .is-11-1 { top: 20vh; left: 35vw; }
  .is-12-1 { top: 2vh; left: 55vw; }

  .is-13 { top: 6vh; left: 14vw; }
  .is-14 { top: 32vh; left: 2vw; }
  .is-15 { bottom: 24vh; right: 6vw; }
  .is-16 { top: 10vh; left: 64vw; }
  .is-17 { top: 18vh; left: 22vw; }
  .is-18 { top: 22vh; left: 46vw; }
  .is-19 { top: auto; left: 8vw; bottom: 6vh; }
  .is-20 { top: 3vh; left: 74vw; }
  .is-21 { top: 66vh; left: 56vw; }

  .is-22 { top: 56vh; left: 56vw; }
  .is-23 { top: auto; left: auto; right: 1vw; bottom: 18vh; }
  .is-24 { top: 48vh; left: 24vw; }

  .is-25 { top: 8vh; left: 8vw; }
  .is-26 { top: 42vh; left: 2vw; }
  .is-27 { top: auto; left: 20vw; bottom: 20vh; }
  .is-28 { top: 12vh; left: 45vw; }
  .is-29 { top: auto; left: 40vw; bottom: 5vh; }
  .is-30 { top: 22vh; left: 30vw; }
  .is-31 { top: 3vh; left: 25vw; }
  .is-32 { top: 30vh; left: 60vw; }
  .is-33 { top: 50vh; left: 55vw; }
  .is-34 { top: 65vh; left: 70vw; }
  .is-35 { top: 12vh; left: 60vw; }
  .is-36 { top: 48vh; left: 25vw; }

  .is-37 { top: 10vh; left: 1vw; }
  .is-38 { top: auto; left: 1vw; bottom: 2vh; }

  .is-39 { top: 3vh; left: 70vw; }
  .is-40 { top: 0vh; left: 12vw; }

  .is-41 { top: 23vh; left: 40vw; }
  .is-42 { top: 30vh; left: 10vw; }
  .is-43 { top: 38vh; left: 28vw; }
  .is-44 { top: 43vh; left: 58vw; }

  .is-45 { top: 60vh; left: 57vw; }

  .is-46 { top: 32vh; left: 40vw; }
  .is-47 { top: 1vh; left: 4vw; }

  .is-48 { top: auto; left: 9vw; bottom: 16vh;}

  .is-49 { top: 69vh; left: 2vw; }

  .is-50 { top: 19vh; left: auto; right: -1vw;}

  .is-51 { top: 7vh; left: 5vw; }
  .is-52 { top: 87vh; left: 37vw; }
  .is-53 { top: 24vh; left: 28vw; }
  .is-54 { top: 58vh; left: 12vw; }
  .is-55 { top: 68vh; left: 55vw; }
  .is-56 { top: 2vh; left: 50vw; }

  .is-57 { top: 2vh; left: 3vw; }
  .is-58 { top: 22vh; left: 32vw; }
  .is-59 { top: 15vh; left: 34vw; }
  .is-60 { visibility: hidden; }


  .is-61 { top: 66vh; left: 5vw; }

  .is-62 {top: auto; bottom: 2vh; left: 12vw;}

  .is-63 { top: 28vh; left: 1vw; }
  .is-64 { top: 62vh; left: 16vw; }
  .is-65 { top: 47vh; left: 20vw; }
  .is-66 { visibility: hidden;}
  .is-67 { top: 91vh; left: 62vw; }

  .is-68 { top: auto; bottom: 4vh; left: 60vw;}

  .is-69 { top: 40vh; left: 20vw; }

  .is-71 { top: 0vh; left: 50vw; }

  .is-72 { top: 2vh; left: 12vw; }
  .is-73 { top: 2vh; left: 54vw; }
  .is-74 { top: 56vh; left: 56vw; }
  .is-75 { top: 16vh; left: 28vw; }
  .is-76 { top: 36vh; right: 10vw; }
  .is-77 { top: 26vh; left: 7vw; }
  .is-78 { bottom: 3vh; left: 8vw; }

  .is-79 { top: 16vh; left: 3vw; }
  .is-80 { top: 0vh; left: 22vw; }
  .is-81 { bottom: 0vh; left: 20vw; }
  .is-82 { bottom: 9vh; left: 45vw; }
  .is-83 { top: 21vh; left: 30vw; }

  .is-84 { top: 48vh; left: 8vw; }
  .is-85 { top: 37vh; right: 10vw; }
  .is-86 { top: 9vh; left: 12vw; }

  .is-87 { bottom: 6vh; right: 6vw; }

  .is-88 { top: 32vh; left: -2vw; }

  .is-89 { bottom: 28vh; left: auto; right: 1vw; }

  .is-90 { bottom: 4vh; left: 60vw; }

  .is-91 { top: 60vh; left: auto; right: 22vw; }

  .is-92 { top: 8vh; right: 2vw; }

  .is-93 { top: 3vh; left: 50vw; }

  .is-94 { top: 2vh; left: 1vw; }
  .is-95 { top: 16vh; left: 4vw; }
  .is-96 { bottom: 7vh; left: 0vw; }
  .is-97 { bottom: 6vh; left: 38vw; }
  .is-98 { top: 32vh; left:31vw; }
  .is-99 { top: 32vh; left: 8vw; }

  .is-100 { top: 30vh; right: -1vw; }

  .is-101 { bottom: 0vh; left: 17vw; }
  .is-102 { bottom: 8vh; right: 1vw; }

  .is-103 { top: 42vh; left: 36vw; }

  .is-104 {
    bottom: 12vh;
    right: 20vw;
  }

  .is-105 { top: 2vh; right: 4vw; }
  .is-106 { top: 47vh; left: 43vw; }
  .is-107 { bottom: 19vh; right: 2vw; }

  .is-108 {
    top: -4.5vh;
    right: 1vw;
  }

  .is-109 {
    bottom: 1vh;
    right: 10vw;
  }

  .is-110 { top: 1vh; right: 3vw; }
  .is-111 { top: 24vh; left: 5vw; }
  .is-112 { top: 11vh; right: 8vw; }

  .is-113 { bottom: 8vh; right: 2vw; }

  .is-114 { top: 20vh; left: 30vw; }

  .is-115 { top: 36vh; left: 14vw; }

  .is-116 { bottom: 0vh; right: 3vw; }

  .is-117 { top: 1vh; left: 2vw; }

  .is-118 { bottom: 1vh; left: 20vw; }

  .is-119 { bottom: 22vh; left: 10vw; }

  .is-120 { bottom: 24vh; right: 20vw; }

  .is-121 { top: 22vh; right: 7vw; }

  .is-122 { bottom: 13vh; left: -1vw; }

  .is-123 { bottom: 13vh; right: 22vw; }

  .is-124 { bottom: 0vh; right: 6vw; }
  .is-125 { top: 2vh; left: 4vw; }
  .is-126 { top: 14vh; right: 3vw; }

  .is-127 { bottom: 14vh; left: 1vw; }
  .is-128 { bottom: 6vh; left: 48vw; }
  .is-129 { bottom: 24vh; right: 8vw; }

  .is-130 { top: 0vh; right: 0vw; }

  .is-131 { bottom: 40vh; left: 42vw; }

  .is-132 { bottom: 8vh; left: 13vw; }

  .is-133 { top: 2vh; left: 24vw; }
  .is-134 { top: 2vh; right: 0vw; }
  .is-135 { top: 10vh; left: 6vw; }

  .is-136 { bottom: 58vh; right: 3vw; }
  .is-137 { bottom:31vh; left: 1vw; }
  .is-138 { bottom: auto; top:20vh; right: 26vw; }

  .is-139 { bottom: 22vh; left: 6vw; }
  .is-140 { bottom: 2vh; left: 8vw; }
  .is-141 { bottom: 4vh; right: 6vw; }


  .is-142 { top: 17vh; left:2vw; }
  .is-143 { bottom: 3vh; left: 3vw; }
  .is-144 { bottom: 19vh; left: auto; right:0vw; }
  .is-145 { bottom: 10vh; left: 52vw; }

  .is-146 { top:12vh; right: 12vw; }
  .is-147 { top: 0vh; right: 1vw; }

  .is-148 { bottom: 2vh; right: 3vw; }

  .is-149 { bottom: 22vh; left: 30vw; }

  .is-150 { top: 44vh; right: 0vw; }
  .is-151 { top: 30vh; left: auto; right:3vw; }

  .is-152 { visibility: hidden; }

  .is-153 { visibility: hidden; }

  .is-154 { visibility: hidden;}


.is-155 { top: 18vh; left: 0vw; }
.is-156 { top: 1vh; left: 12vw; }
.is-157 { top: 28vh; right: 2vw; }
.is-158 { bottom:auto; top:13vh; left: 25vw; }
.is-159 { bottom: 37vh; left: -1vw; }
.is-160 { bottom: 30vh; left: 30vw; }
.is-161 { bottom: 6vh; right: 24vw; }
.is-162 { bottom: 0vh; right:0vw; }
.is-163 { bottom: 18vh; right:20vw; }
}


@media screen and (max-width: 480px) {
  html {
    font-size: 1.2rem;
  }

  :root {
    --base-size: 11vh;
  }

  .main {
    max-width: 95vw;
  }

  .is-1 { top: 18vh; left: 2vw;}
  .is-4 { top: 1vh; left: 10vw; }
  .is-12 { top: 3vh; left: 30vw; }

  .is-5 { top: 30vh; left: 50vw; }
  .is-8 { top: 13vh; left: 50vw; }

  .is-3 { top: 45vh; left: 20vw; }
  .is-11 { top: 50vh; left: 70vw; }
  .is-7 { top: 60vh; left: 30vw; }

  .is-6 { bottom: 10vh; left: 5vw; }
  .is-2 { bottom: 5vh; right: 0vw; }
  .is-9 { top: auto; bottom: 2vh; left: 30vw; }
  .is-10 { top:auto; left: auto; bottom: 10vh; right: 20vw; }

  .is-9-1 { top:auto; bottom: 2vh; left: 35vw; } 
  .is-10-1 { top: 43vh; left: auto; right: 0vw; }   
  .is-11-1 { top: 30vh; left: 25vw; }
  .is-12-1 { top: 12vh; left: 2vw; }

  .is-13 { top: 5vh; left: 10vw; }
  .is-14 { top: 30vh; left: 10vw; }
  .is-15 { top: auto; left: auto; right: 4vw; bottom: 24vh; }
  .is-16 { top: 10vh; left: 58vw; }
  .is-17 { top: 17vh; left: 18vw; }
  .is-18 { top: 22vh; left: 42vw; }
  .is-19 { top: auto; left: 6vw; bottom: 8vh; }
  .is-20 { top: 1vh; left: 68vw; }
  .is-21 { top: auto; bottom:2vh; left: 14vw; }

  .is-22 { top: 56vh; left: 48vw; }
  .is-23 { top: auto; left: auto; right: 0vw; bottom: 16vh; }
  .is-24 { top: 46vh; left: 18vw; }

  .is-25 { top: 1vh; left: 6vw; }
  .is-26 { top: 40vh; left: 1vw; }

  .is-27 { top: auto; left: 15vw; bottom: 25vh;}

  .is-28 { top: 12vh; left: 40vw; }

  .is-29 { top: auto; left: 35vw; bottom: 2vh;}

  .is-30 { top: 22vh; left: 25vw; }
  .is-31 { top: 12vh; left: 20vw; }
  .is-32 { top: 38vh; left: 43vw; }

  .is-33 { top: 48vh; left: 50vw; }

  .is-34 {top: auto; left: auto; right: 5vw; bottom: 12vh;}

  .is-35 { top: 10vh; left: 55vw; }
  .is-36 { top: 46vh; left: 20vw; }

  .is-37 { top: 8vh; left: 1vw; }

  .is-38 { top: auto; left: -1vw; bottom: 1vh;}

  .is-39 { top: -1vh; left: 58vw; }
  .is-40 { top: 3vh; left: 0vw; }

  .is-41 { top: 19vh; left: 45vw; }
  .is-42 { top: 27vh; left: 2vw; }
  .is-43 { top: 33vh; left: 30vw; }
  .is-44 { top: 40vh; left: 68vw; }

  .is-45 { top: auto; left: auto; right: 3vw; bottom: 0vh;}
  .is-46 { top: 33vh; left: 32vw; }
  .is-47 { top: 1vh; left: 2vw; }

  .is-48 { top: auto; left: 10vw; bottom: 2vh;}

  .is-49 { top: 78vh; left: 7vw; }

  .is-50 { top: 6vh;  left: auto;  right: 0vw;}

  .is-51 { top: 17vh; left: 1vw; }
  .is-52 { top: 69vh; left: 15vw; }
  .is-53 { top: 30vh; left: 25vw; }
  .is-54 { top: auto; bottom:10vh; left: 10vw; }

  .is-55 { top: auto; left: 40vw; bottom: 25vh; }

  .is-56 { top: 2vh; left: 45vw; }

  .is-57 { top: -0.5vh; left: 2vw; }
  .is-58 { top: 12vh; left: 25vw; }
  .is-59 { top: 10vh; left: 18vw; }
  .is-60 { visibility: hidden; }

  .is-61 { top: 75vh; left: 1vw; }

  .is-62 { top: auto;  bottom: 3vh; left: 10vw;}

  .is-63 { top: 48vh; left: 50vw; }
  .is-64 { top: 57vh; left: 1vw; }
  .is-65 { top: 35vh; left: 14vw; }
  .is-66 { visibility: hidden;}

  .is-67 { top: auto; bottom: 1vh; left: 50vw;}

  .is-68 { top: auto; bottom: 5vh; left: 55vw;}

  .is-69 { top: 75vh; left: 35vw; }

  .is-71 {visibility: hidden;}
  .is-72 { top: 2vh; left: 10vw; }
  .is-73 { top: 2vh; left: 48vw; }

  .is-74 { top: auto; left: auto; right: 0vw; bottom: -3.9vh;}

  .is-75 { top: 15vh; left: 22vw; }
  .is-76 { top: 34vh; right: 6vw; }
  .is-77 { top: 34vh; left: 1vw; }
  .is-78 { bottom: 24vh; left: 6vw; }

  
  .is-79 { top: 14vh; left: 2vw; }

  .is-80 { top: 0vh; left: 18vw;}

  .is-81 { bottom: -1vh; left: 22vw; }

  .is-82 { bottom: 8vh; left: 5vw; }

  .is-83 { top: 15vh; left: 40vw; }

  .is-84 { top: 45vh; left: 12vw; }

  .is-85 { top: 34vh; right: 1vw; }

  .is-86 { top: 8vh; left: 10vw; }

  .is-87 { bottom: 6vh; right: 2vw; }

  .is-88 { top: 28vh; left: 1vw; }

  .is-89 { top: auto; bottom: 19vh; left: 4vw;}

  .is-90 { bottom: 3vh; left: 55vw; }

  .is-91 { top: auto; bottom: 14vh; left: 38vw; }

  .is-92 { top: 5vh; right: 0vw;}

  .is-93 { top: 2vh; left: auto; right:15vw; }

  .is-94 { top: 2vh; left: 2vw; }
  .is-95 { top: 12vh; left: 7vw; }
  .is-96 { bottom: 8vh; left: 1vw; }
  .is-97 { bottom: 1vh; left: 32vw; }
  .is-98 { top: 30vh; left: 32vw; }
  .is-99 { top: 42vh; left: 4vw; }

  .is-100 { top: 40vh; right: 0vw; }

  .is-101 { bottom: -1vh; left: 3vw; }
  .is-102 { bottom: 30vh; right: 1vw; }

  .is-103 { top: 37vh; left: 32vw; }

  .is-104 {
    top: auto;
    bottom: 10vh;
    right: 14vw;
  }

  .is-105 { top: 14vh; right: 1vw; }
  .is-106 { top: 48vh; left: 22vw; }

  .is-107 { bottom:18vh; right: 1vw;}

  .is-108 {
    top: -3vh;
    right: -1vw;
  }

  .is-109 {
    bottom: 0vh;
    right: 1vw;
  }

  .is-110 { top: 0vh; right: 2vw; }

  .is-111 { top: 22vh; left: 5vw; }

  .is-112 { top: 13vh; right: 6vw; }

  .is-113 { bottom: 30vh; right: 2vw; }

  .is-114 { top: 28vh; left: 28vw; }

  .is-115 { top: 36vh; left: 10vw; }

  .is-116 { bottom: 0vh; right: 1vw; }

  .is-117 { top: 0vh; left: 2vw; }

  .is-118 { bottom: 4vh; left: 2vw; }

  .is-119 { bottom:36vh; left: 30vw; }

  .is-120 {
    top: auto;
    bottom:18vh;
    right: 14vw;
  }

  .is-121 { top: 20vh; right: 2vw; }

  .is-122 { bottom: 16vh; left: 10vw; }

  .is-123 { bottom: 12vh; right: -3vw; }

  .is-124 { bottom: 1vh; right: 5vw; }
  .is-125 { top: 2vh; left: 3vw; }
  .is-126 { top: 16vh; right: 2vw; }

  .is-127 { bottom: 30vh; left: 1vw; }
  .is-128 { bottom: 4vh; left: 24vw; }
  .is-129 { bottom: 10vh; right: 7vw; }

  .is-130 { top: 38vh; right: -1vw; }

  .is-131 {
    top: auto;
    bottom: 28vh;
    left: 32vw;
  }

  .is-132 { bottom: 14vh; left: 10vw; }

  .is-133 { top: 2vh; left: 20vw; }
  .is-134 { top: 10vh; right: 0vw; }
  .is-135 { top: 10vh; left: 1vw; }

  .is-136 {
    top: auto;
    bottom: 55vh;
    right: 2vw;
  }

  .is-137 { bottom: 30vh; left: 1vw; }

  .is-138 {
    top: auto;
    bottom:22vh;
    right: auto;
    left: 1vw;
  }

  .is-139 { bottom: -0.5vh; left: 30vw; }
  .is-140 { bottom: 10vh; left: -4vw; }
  .is-141 { bottom: 13vh; right: 2vw; }

  .is-142 { top: 41vh; left: 2vw; }

  .is-143 { bottom: 4vh; left: 2vw; }

  .is-144 { bottom: 21vh; left: auto; right:0vw; }

  .is-145 { bottom: 30vh; left: 35vw; }

  .is-146 { top: 9vh; right: 12vw; }

  .is-147 { top: 0vh; right: 1vw; }

  .is-148 {
    top: auto;
    bottom: 0vh;
    right: 1vw;
  }

  .is-149 { bottom: 10vh; left: 2vw; }

  .is-150 { top: 37vh; right: -20vw; rotate:40deg}

  .is-151 { top: 20vh; left: auto; right:5vw; }

  .is-152 { visibility: hidden; }

  .is-153 { visibility: hidden; }

  .is-154 { visibility: hidden; }

  .is-155 { top: 18vh; left: 0vw; }
.is-156 { top: 2vh; left: 2vw; }
.is-157 { top: 28vh; right: 2vw; }
.is-158 { bottom:auto; top:10vh; left: 18vw; }
.is-159 { bottom: 30vh; left: -1vw; }
.is-160 { bottom: 30vh; left: 30vw; }
.is-161 { bottom: 6vh; right: 24vw; }
.is-162 { bottom: 0vh; right:0vw; }
.is-163 { bottom: 18vh; right:20vw; }
}